:root {
  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
  --main-color: #212121;
  --sec-color: #757575;
  --logo-color: #000;
  --active-color: #2196f3;
  --white-color: #fff;
  --btn-hover: #188ce8;
  --background-color: #2f303a;
  --team-bg: #f5f4fa;
  --footer-cont: rgba(255, 255, 255, 0.6);
}
body {
  font-family: var(--main-font);
  color: var(--main-color);
  font-size: 14px;
  font-style: normal;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.section {
  padding: 94px 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
/* Header */
.page-header {
  border-bottom: 1px solid #ececec;
}
.page-header__main-nav,
.links,
.contacts,
.page-header .container {
  display: flex;
  justify-content: space-between;
}
.page_header .logo {
  margin-right: 93px;
  display: flex;
  align-items: center;
  font-family: var(--logo-font);
  font-weight: bold;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--active-color);
}
.color-black {
  color: var(--main-color);
}
.contacts a,
.links a {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--main-color);
  padding: 32px 0;
  display: inline-block;
  margin-right: 50px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts a {
  color: var(--sec-color);
}
.contacts li:last-child a,
.links li:last-child a {
  margin-right: 0%;
}
.contacts-icon {
  fill: #757575;
  margin-right: 10px;
  vertical-align: middle;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-icon:hover,
.contacts-icon:focus {
  fill: #2196f3;
}
.contact-mail:hover .contacts-icon,
.contact-mail:focus .contacts-icon {
  fill: #2196f3;
}
.contacts a:hover,
.contacts a:focus,
.links a:hover,
.links a:focus {
  color: var(--active-color);
}

.active {
  color: var(--active-color);
}

.active::after {
  content: '';
  display: block;
  position: relative;
  top: 30px;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--active-color);
  border-radius: 4px;
}
/* Hero */
.hero {
  padding: 200px 0;
  background: var(--hero-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  max-width: 1600px;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  background-size: cover;
}

.hero-title {
  font-size: 44px;
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  max-width: 650px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.hero-btn,
.subs-btn,
.send-btn {
  padding: 10px 0;
  border-radius: 4px;
  margin: 0 auto;
  display: block;
  min-width: 200px;
  min-height: 50px;
  background: var(--active-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus,
.subs-btn:hover,
.subs-btn:focus,
.send-btn:hover,
.send-btn:focus {
  background: var(--btn-hover);
}
/* Features */
.features-pic {
  background-color: #f5f4fa;
  border-radius: 4px;
  height: 120px;
  padding: 25px 100px;
  margin-bottom: 30px;
}
.feature-section {
  padding-top: 94px;
}
.features-list {
  display: flex;
  justify-content: space-between;
}
.features-item {
  width: 270px;
}
.features-list .features-item + .features-item {
  margin-left: 30px;
}
.title-features {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.discription-features {
  color: var(--sec-color);
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}
/* AboutUs */
.about-title {
  text-align: center;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
}
.about-img-list {
  display: flex;
}
.about-img-list .about-list-item + .about-list-item {
  margin-left: 30px;
}
.about-list-item {
  position: relative;
}
.services-list-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-size: inherit;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
}
/* OurTeam */
.team-section {
  background: var(--team-bg);
}
.title-team {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
}
.list-team {
  display: flex;
  flex-wrap: wrap;
}
.list-team .team-card + .team-card {
  margin-left: 30px;
}
.team-card {
  width: 270px;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.description-card {
  padding: 30px 15px;
  text-align: center;
}
.team-mate {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
}
.team-position {
  color: var(--sec-color);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
}
.worker-social {
  display: flex;
  margin-top: 16px;
  justify-content: space-between;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--active-color);
  color: var(--white-color);
}

.social-network {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Regular Customers */
.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers-list {
  display: flex;
  justify-content: space-between;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  width: 170px;
  height: 90px;
  border: 1px solid;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-logo {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  color: var(--active-color);
  border-color: var(--active-color);
}
/* Footer */
footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--hero-color);
}
footer .container {
  display: flex;
  justify-self: start;
  align-items: baseline;
}
.footer-adress {
  width: 231px;
}
footer .logo {
  display: block;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
  font-family: var(--logo-font);
  font-weight: bold;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--active-color);
}
.color-logo-footer {
  color: var(--white-color);
}
footer a {
  color: var(--footer-cont);
}
.footer li:first-child a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-social {
  margin-left: 70px;
  padding-top: 12px;
  width: 206px;
  height: 80px;
}

.footer-social-item {
  width: 44px;
  height: 44px;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
  width: 206px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--white-color);
  background-color: #ffffff10;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--active-color);
  color: var(--white-color);
}
.footer-title,
.subs-title {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--white-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16, 41 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.subscription-form {
  display: block;
  margin-left: 93px;
  width: 570px;
}
.subs-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
}
.icon-send {
  margin-left: 10px;
  fill: currentColor;
}
.subscription {
  display: flex;
}
.subs-input {
  padding: 15px 16px;
  min-width: 358px;
  min-height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--white-color);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subs-input:focus {
  outline: 1px solid var(--active-color);
}
.subs-input::placeholder {
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/* portfolio page */
.portfolio-container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.buttons {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 50px;
}
.btn-item {
  margin-right: 8px;
}
.btn-item:last-child {
  margin-right: 0;
}
.btn-filter {
  padding: 6px 22px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  border-radius: 4px;
  transition: background-color, color, box-shadow, border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-filter:hover,
.btn-filter:focus {
  background: var(--btn-hover);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  text-align: start;
  border: 1px solid #eeeeee;
}
.portfolio-item:hover,
.portfolio-item:focus {
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-card {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card:hover .overlay-text,
.portfolio-card:focus .overlay-text {
  opacity: 1;
  transform: translatey(0%);
}
.gallery-overlay {
  position: relative;
  overflow: hidden;
}
.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: calc(28 / 18);
  background-color: #2196f3e6;
  /* border: 1px solid #000000; */
  color: var(--white-color);
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:nth-child(3n) {
  margin-right: 0px;
}
.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.portfolio-descript-card {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.portfolio-title {
  margin-bottom: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--main-color);
}
.portfolio-type {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--sec-color);
}
/* <!-- Modal Button --> */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  min-width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 700ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: none;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 700ms cubic-bezier(0.42, 0, 0.58, 1);
  padding: 40px;
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: var(--white-color);
  fill: var(--main-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  fill: var(--active-color);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

/* MODAL FORM */
.form-title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23.44 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form-field.comment {
  margin-bottom: 20px;
}
.field-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: calc(14.06 / 12);
  letter-spacing: 0.01em;
  color: var(--sec-color);
}
.field-input {
  min-width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.field-input.textarea {
  height: 120px;
  padding: 12px 16px;
}
.field-input.textarea::placeholder {
  font-size: 12px;
  line-height: calc(14.06 / 12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.field-input:focus {
  border-color: var(--active-color);
  outline: none;
}
.field-input:focus + .icon-input {
  fill: var(--active-color);
}
.icon-input {
  position: absolute;
  bottom: 11px;
  left: 12px;
  fill: 212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-check {
  margin-bottom: 30px;
}
.check-label {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  font-family: var(--main-font);
  font-weight: 400;
  color: var(--sec-color);
}
.check-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.check-ico {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 9px;
  margin-left: 15px;

  border: 2px solid var(--main-color);
  border-radius: 2px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check-input:checked + .check-ico {
  border-color: transparent;
  border-radius: 2px;

  background-color: var(--active-color);
  background-image: url('../images/checked.svg');
  background-size: contain;
  background-origin: border-box;
}

.check-input:hover + .check-ico,
.check-input:focus + .check-ico {
  border-color: var(--active-color);
  fill: var(--active-color);
}
.policy-link {
  text-decoration: underline;
  color: var(--active-color);
  margin-left: 5px;
}
